<div class="container-main">
  
  <mat-toolbar >
    <!-- <button 
     *ngIf="router.url === '/track-controller'"
     mat-icon-button 
     (click)="drawer.toggle()">
      <mat-icon>list</mat-icon>
   </button> -->
    <span>Dj controller</span>
  </mat-toolbar>

     <!-- <mat-drawer-container 
     *ngIf="router.url === '/track-controller'"
     hasBackdrop="false"
     class="container-body">
     <mat-drawer 
      #drawer 
      mode='push' 
      class="sidebar">
  

           <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
          </div>
        </div>
        
        <div class="example-container">
          <h2>Done</h2>
        
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>




     </mat-drawer>
     <mat-drawer-content>
      <router-outlet></router-outlet>
     </mat-drawer-content>
   </mat-drawer-container> -->
   <div class="container-body">
    <router-outlet></router-outlet>
   </div>

</div>